@charset 'UTF-8';

// Chat holder
.chat-holder {
	border: 1px solid #d0d;
	align-items: flex-end;
	background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 100%;
	padding-bottom: 50px;
	padding-top: 60px;
	position: relative;
	width: 90%;
	margin: 0 auto;
}
